<!DOCTYPE html>
<html>
<head>
	<title>rest-captcha</title>
	
	<style type="text/css">
		body
		{
			background-image: linear-gradient(135deg, #2B5876, #4E4376);
			text-align: center;
			color: white; 
			font-family: Arial
		}
		.box
		{
			border:5px solid white;
			box-shadow: 0px 5px 8px #222222;
			width: 50%;
			margin: auto;
		}
		.header
		{
			background-image: linear-gradient(-90deg, #02AAB0, #00CDAC);
			box-shadow: 0px 2px 8px #444444;
			width: 50%;
			margin: auto;
		}
	</style>
</head>
<body>
	<div class="header">
		<h1>REST API Usage</h1>
	</div>
	<div class="box">
		<h2>Usage Instructions</h2>
		<ol>
			<li> Use POST</li>
			<li> Use POST</li>
			<li> Don't talk about GET</li>
		</ol>
	</div>
</body>
</html>